<!--
ゲームパッド操作サンプルのlaunch

rosserialを使ってROSとメカナムローバーを接続し、PCにゲームパッドを接続してから起動してください。

起動コマンド：roslaunch mecanumrover3_ros joycon.launch
 -->

<launch>

  <node pkg="mecanumrover3_ros" type="aruco" name="aruco" respawn="true">
    <param name="axis_linear_x" value="1" />
    <param name="axis_linear_y" value="0" />
    <param name="axis_angular" value="2" />
    <param name="scale_linear" value="0.6" />
    <param name="scale_angular" value="0.8" />
    <param name="safety_button" value="7" />
  </node>
    

</launch>
